.form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    color: rgb(56, 245, 56);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(56, 245, 56);
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .radio-group {
    display: flex; 
    align-items: center; 
  }
  
  .radio-group label {
    margin-left:80px;
    margin-right: 1px;
    font-size: 18px;
    color: rgb(56, 245, 56);
  }
  
  .radio-group input[type="radio"] {
    margin-right: 60px;
  }
  
  .submit-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: rgb(56, 245, 56);
    color: #333;
    font-size: 18px;
   
  }  
  @import url("httpss://fonts.googleapis.com/css?family=Roboto");
body {
    background: linear-gradient(to right, #78a7ba 0%, #385d6c 50%, #78a7ba 99%);
}
.signup-form {
    font-family: "Roboto", sans-serif;
    width: 650px;
    margin: 30px auto;
    background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
    border-radius: 10px;
}
.form-header {
    background-color: #eff0f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.form-header h1 {
    font-size: 30px;
    text-align: center;
    color: #666;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}